.square{
  border: 2px solid black;
  width: 70px;
  height: 70px;
  float: left;
  position: relative;

}

*{
  box-sizing: border-box;
}

#num{
  position: absolute;
  top: 40%;
  left: 40%;
}

.red{
  background: red;
}

.blue{
  background: blue;
}
